PORT=4000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:3000
MONGODB_URI=mongodb+srv://darshanajudiya07_db_user:fbyLE5s5M67tAeA9@cluster0.r4bhshk.mongodb.net/?appName=Cluster0
JWT_SECRET=hfdbvjfgthyufgfkuvbfv6t847r83bfrbfvhfkvf
ALLOW_MEMORY_DB=true
